In [156]:
import pandas as pd

branch_a_data = [
    {'transaction_id': 1, 'branch': 'A', 'date': '2023-01-01', 'product_id': 101, 'quantity': 2, 'price': 50.0, 'customer_id': 'C001'},
    {'transaction_id': 2, 'branch': 'A', 'date': '2023-01-02', 'product_id': 102, 'quantity': 1, 'price': 20.0, 'customer_id': 'C002'},
    {'transaction_id': 3, 'branch': 'A', 'date': '2023-01-03', 'product_id': 103, 'quantity': 3, 'price': 15.0, 'customer_id': 'C003'},
    {'transaction_id': 4, 'branch': 'A', 'date': '2023-01-04', 'product_id': 101, 'quantity': 2, 'price': 50.0, 'customer_id': 'C004'},
    {'transaction_id': 5, 'branch': 'A', 'date': None, 'product_id': 104, 'quantity': 1, 'price': 30.0, 'customer_id': 'C005'},
    {'transaction_id': 6, 'branch': 'A', 'date': '2023-01-06', 'product_id': 105, 'quantity': 2, 'price': 25.0, 'customer_id': None}
]


df = pd.DataFrame(branch_a_data)


df.to_csv('branch_a.csv', index=False)

print("Preview of the created CSV file:")
print(df)

Preview of the created CSV file:
   transaction_id branch        date  product_id  quantity  price customer_id
0               1      A  2023-01-01         101         2   50.0        C001
1               2      A  2023-01-02         102         1   20.0        C002
2               3      A  2023-01-03         103         3   15.0        C003
3               4      A  2023-01-04         101         2   50.0        C004
4               5      A        None         104         1   30.0        C005
5               6      A  2023-01-06         105         2   25.0        None

In [158]:
branch_b_data = [
    {'transaction_id': 7, 'branch': 'B', 'date': '2023-01-01', 'product_id': 101, 'quantity': 1, 'price': 50.0, 'customer_id': 'C006'},
    {'transaction_id': 8, 'branch': 'B', 'date': '2023-01-02', 'product_id': 106, 'quantity': 2, 'price': 40.0, 'customer_id': 'C007'},
    {'transaction_id': 9, 'branch': 'B', 'date': '2023-01-03', 'product_id': 107, 'quantity': 3, 'price': 25.0, 'customer_id': 'C008'},
    {'transaction_id': 10, 'branch': 'B', 'date': '2023-01-04', 'product_id': 108, 'quantity': 1, 'price': 30.0, 'customer_id': 'C009'},
    {'transaction_id': 11, 'branch': 'B', 'date': '2023-01-05', 'product_id': 109, 'quantity': 2, 'price': 35.0, 'customer_id': 'C010'},
    {'transaction_id': 12, 'branch': 'B', 'date': '2023-01-06', 'product_id': 107, 'quantity': 3, 'price': 25.0, 'customer_id': 'C011'}
]


df = pd.DataFrame(branch_b_data)


df.to_csv('branch_b.csv', index=False)
print("Preview of the created CSV file:")
print(df)

Preview of the created CSV file:
   transaction_id branch        date  product_id  quantity  price customer_id
0               7      B  2023-01-01         101         1   50.0        C006
1               8      B  2023-01-02         106         2   40.0        C007
2               9      B  2023-01-03         107         3   25.0        C008
3              10      B  2023-01-04         108         1   30.0        C009
4              11      B  2023-01-05         109         2   35.0        C010
5              12      B  2023-01-06         107         3   25.0        C011

In [160]:
branch_c_data = [
    {'transaction_id': 13, 'branch': 'C', 'date': '2023-01-01', 'product_id': 110, 'quantity': 1, 'price': 60.0, 'customer_id': 'C012'},
    {'transaction_id': 14, 'branch': 'C', 'date': '2023-01-02', 'product_id': 111, 'quantity': 2, 'price': 20.0, 'customer_id': 'C013'},
    {'transaction_id': 14, 'branch': 'C', 'date': '2023-01-03', 'product_id': 112, 'quantity': 1, 'price': 70.0, 'customer_id': 'C014'},
    {'transaction_id': 15, 'branch': 'C', 'date': '2023-01-04', 'product_id': 113, 'quantity': 2, 'price': 50.0, 'customer_id': 'C015'},
    {'transaction_id': 16, 'branch': 'C', 'date': '2023-01-05', 'product_id': 114, 'quantity': 3, 'price': 30.0, 'customer_id': 'C016'},
    {'transaction_id': 17, 'branch': 'C', 'date': '2023-01-06', 'product_id': 115, 'quantity': 2, 'price': 80.0, 'customer_id': 'C017'}
]


df = pd.DataFrame(branch_c_data)


df.to_csv('branch_c.csv', index=False)
print("Preview of the created CSV file:")
print(df)

Preview of the created CSV file:
   transaction_id branch        date  product_id  quantity  price customer_id
0              13      C  2023-01-01         110         1   60.0        C012
1              14      C  2023-01-02         111         2   20.0        C013
2              14      C  2023-01-03         112         1   70.0        C014
3              15      C  2023-01-04         113         2   50.0        C015
4              16      C  2023-01-05         114         3   30.0        C016
5              17      C  2023-01-06         115         2   80.0        C017

In [162]:
## merge all csv file into one
df = pd.concat( 
    map(pd.read_csv, ['branch_a.csv', 'branch_b.csv','branch_c.csv']), ignore_index=True) 
print(df)

    transaction_id branch        date  product_id  quantity  price customer_id
0                1      A  2023-01-01         101         2   50.0        C001
1                2      A  2023-01-02         102         1   20.0        C002
2                3      A  2023-01-03         103         3   15.0        C003
3                4      A  2023-01-04         101         2   50.0        C004
4                5      A         NaN         104         1   30.0        C005
5                6      A  2023-01-06         105         2   25.0         NaN
6                7      B  2023-01-01         101         1   50.0        C006
7                8      B  2023-01-02         106         2   40.0        C007
8                9      B  2023-01-03         107         3   25.0        C008
9               10      B  2023-01-04         108         1   30.0        C009
10              11      B  2023-01-05         109         2   35.0        C010
11              12      B  2023-01-06         107         3   25.0        C011
12              13      C  2023-01-01         110         1   60.0        C012
13              14      C  2023-01-02         111         2   20.0        C013
14              14      C  2023-01-03         112         1   70.0        C014
15              15      C  2023-01-04         113         2   50.0        C015
16              16      C  2023-01-05         114         3   30.0        C016
17              17      C  2023-01-06         115         2   80.0        C017

In [164]:
## Delete all the NaN Row in the dataset
df = pd.concat( 
    map(pd.read_csv, ['branch_a.csv', 'branch_b.csv','branch_c.csv']), ignore_index=True) 
df_specific_cleaned = df.dropna(subset=['product_id', 'customer_id','date'])
print(df_specific_cleaned)

    transaction_id branch        date  product_id  quantity  price customer_id
0                1      A  2023-01-01         101         2   50.0        C001
1                2      A  2023-01-02         102         1   20.0        C002
2                3      A  2023-01-03         103         3   15.0        C003
3                4      A  2023-01-04         101         2   50.0        C004
6                7      B  2023-01-01         101         1   50.0        C006
7                8      B  2023-01-02         106         2   40.0        C007
8                9      B  2023-01-03         107         3   25.0        C008
9               10      B  2023-01-04         108         1   30.0        C009
10              11      B  2023-01-05         109         2   35.0        C010
11              12      B  2023-01-06         107         3   25.0        C011
12              13      C  2023-01-01         110         1   60.0        C012
13              14      C  2023-01-02         111         2   20.0        C013
14              14      C  2023-01-03         112         1   70.0        C014
15              15      C  2023-01-04         113         2   50.0        C015
16              16      C  2023-01-05         114         3   30.0        C016
17              17      C  2023-01-06         115         2   80.0        C017

In [166]:
## Change the Date column to Date data
df_specific = df_specific_cleaned.copy()
df_specific['date'] = pd.to_datetime(df_specific['date'])

# Display results
print(df_specific)
print("\nColumn datatypes:")
print(df_specific.dtypes)

    transaction_id branch       date  product_id  quantity  price customer_id
0                1      A 2023-01-01         101         2   50.0        C001
1                2      A 2023-01-02         102         1   20.0        C002
2                3      A 2023-01-03         103         3   15.0        C003
3                4      A 2023-01-04         101         2   50.0        C004
6                7      B 2023-01-01         101         1   50.0        C006
7                8      B 2023-01-02         106         2   40.0        C007
8                9      B 2023-01-03         107         3   25.0        C008
9               10      B 2023-01-04         108         1   30.0        C009
10              11      B 2023-01-05         109         2   35.0        C010
11              12      B 2023-01-06         107         3   25.0        C011
12              13      C 2023-01-01         110         1   60.0        C012
13              14      C 2023-01-02         111         2   20.0        C013
14              14      C 2023-01-03         112         1   70.0        C014
15              15      C 2023-01-04         113         2   50.0        C015
16              16      C 2023-01-05         114         3   30.0        C016
17              17      C 2023-01-06         115         2   80.0        C017

Column datatypes:
transaction_id             int64
branch                    object
date              datetime64[ns]
product_id                 int64
quantity                   int64
price                    float64
customer_id               object
dtype: object

In [168]:
## Delete duplicate  based on transaction id.
df_sorted = df_specific.sort_values(['transaction_id', 'date'])

df_clean = df_sorted.drop_duplicates(subset=['transaction_id'], keep='last')

df_clean = df_clean.sort_values('transaction_id')
print(df_clean)

    transaction_id branch       date  product_id  quantity  price customer_id
0                1      A 2023-01-01         101         2   50.0        C001
1                2      A 2023-01-02         102         1   20.0        C002
2                3      A 2023-01-03         103         3   15.0        C003
3                4      A 2023-01-04         101         2   50.0        C004
6                7      B 2023-01-01         101         1   50.0        C006
7                8      B 2023-01-02         106         2   40.0        C007
8                9      B 2023-01-03         107         3   25.0        C008
9               10      B 2023-01-04         108         1   30.0        C009
10              11      B 2023-01-05         109         2   35.0        C010
11              12      B 2023-01-06         107         3   25.0        C011
12              13      C 2023-01-01         110         1   60.0        C012
14              14      C 2023-01-03         112         1   70.0        C014
15              15      C 2023-01-04         113         2   50.0        C015
16              16      C 2023-01-05         114         3   30.0        C016
17              17      C 2023-01-06         115         2   80.0        C017

In [170]:
## Create totalSales dataframe based on branch
df['total'] = df_clean['quantity'] * df_clean['price']

branch_totals = df.groupby('branch')['total'].sum().reset_index()
branch_totals.columns = ['branch', 'total']
print(branch_totals)

branch_totals.to_csv('total_sales_per_branch.csv', index=False)

  branch  total
0      A  265.0
1      B  380.0
2      C  480.0

In [172]:
## Get the total sales per branch csv file
df_sales_data = pd.read_csv('total_sales_per_branch.csv')

print(df_sales_data.to_string())

  branch  total
0      A  265.0
1      B  380.0
2      C  480.0